
#ip_data td { padding:10px; }
#ip_data { margin-top: 20px; }

.consent-div {
    margin-left: 20px;
}
.download-div {
    margin-top: 20px;
}

#bash-command {
    font-family: "Courier New", Courier, serif;
}
#enter-ip {
    width: 300px;
}
#ip_input {
    margin-bottom: 20px;
}
#ip-collection {
    display: flex;
    flex-direction: row;
}